<h5>Create a new favorite recipe</h5>

<form [formGroup]="recipeForm" class="recipe_creator">
  <mat-form-field style="width: 100%">
    <mat-label>Recipe</mat-label>
    <textarea matInput
              formControlName="description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"
              #description></textarea>
  </mat-form-field>

  <button class="recipe_save" type="submit" (click)="addRecipe(description.value)" mat-raised-button color="primary"> SAVE </button>
</form>
