<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxFlex="25%">
          Cookie Munchies
      </div>
      <div fxFlex="50%">
          You're loggin in as: <span> {{ user }} </span>
      </div>
      <div fxFlex="25%">
          <button mat-raised-button color="accent" (click)="logout()">Logout</button> 
      </div>
   </mat-toolbar-row>
  </mat-toolbar>


<div style="margin: 20px">
    <app-create (createClicked)="onCreateClicked($event)"></app-create>

    <nav mat-tab-nav-bar>
        <a mat-tab-link
            *ngFor="let routeLink of routeLinks; let i = index;"
            [routerLink]="[{ outlets: { tab: [routeLink.link] } }]"
            routerLinkActive="mat-tab-link-active"
            #rla="routerLinkActive"
            (click) = "activeLinkIndex = i"
            [active]="activeLinkIndex === i"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>{{routeLink.icon}}</mat-icon>
            {{routeLink.label}}
        </a>  
    </nav>
</div>

<router-outlet name="tab" (activate)="onActivate($event)"></router-outlet>
