.username {
    text-align: center;
}

.logout_button {
    text-align: right;
}

@media (max-width: 450px) {
    .logo {
        font-size: 12px;
    }
    
    .username {
        font-size: 8px;
    }
}