<div>
  <mat-card style="margin-left: 15px; margin-right: 15px;">

    <div>
      <label style="margin-right: 20px;">Pick a list: </label>
      <select id="dropdown" color="warn" (change)="changeList($event.target.value)">
          <option class="dropdown-option" value="0">-- Your List --</option>
          <option class="dropdown-option" *ngFor="let list of listOfLists" value="{{ list._id }}">
              {{ list.owner.name }}
          </option>
      </select>
    </div>

    <br>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="items" class="item-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Item name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="added_by">
        <th mat-header-cell *matHeaderCellDef>Added by</th>
        <td mat-cell *matCellDef="let element"> {{ element.addedBy }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button class="action_button" mat-icon-button color="warn" (click)="deleteItem( element._id )"><mat-icon> delete </mat-icon></button>
          <button class="action_button" mat-icon-button color="primary" (click)="editClick( element._id )"><mat-icon> edit </mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
